		*{font-family: "微软雅黑";}
		a{text-decoration: none;}
    	ul,li{margin: 0;padding: 0;list-style: none;}
    	/*自定义  padding margin lineheight等*/
    	.coubtnpad{
    		padding: 8px 40px;
    	}
    	.coulinh{
    		line-height: 45px;
    	}
    	.conmartop{
    		margin: 35px 0;
    	}
    	.couindent{
    		text-indent: 25px;
    	}
    	/*导航*/
    	.nav{
    		height: 40px;
    		background: #000033;
    	}
    	.nav .mnuimg{
    		color: #fff;line-height: 40px;padding-left: 20px;
    	}
    	/*二级导航*/
    	.Twonav{
    		position: absolute;
    		top: 38px;
    		background: #e0dbd5;
    		width: 100%;
    	}
    	.Twonav ul li{
    		padding-left: 20px;
    		width: 100%;
    		line-height: 45px;
    		border-bottom: 1px solid #cec4c0;
    		color: #6c6460;
    	}
    	.Twonav ul li a{
    		color: #6c6460;
    	}
    	/*中间距离*/
    	.container{  
			width: 88%;
			margin: 0 auto;
			overflow: hidden;
			padding: 0;
		}
    	/*底部*/
    	.footer{
    		width: 100%;
    		padding: 0;
    	}
    	/*中英文*/
    	.langch{
    		background:#070e48 ;
    		color: #796f45;
    	}
    	.mui-collapse-content{
    		background: #000;
    		color: #fff;    	
    	}
    	.mui-collapse-content p{
    		margin: 20px 0;
    		text-align: center;
    	}
    	.footer_zzq{background: #000033;height: 90px;border: 1px solid #000033;}
    	.footer_zzq ul li{
    		width: 25%;
    		text-align: center;
    		float: left;
    		line-height: 38px;
    		margin-bottom: 10px;
    	}
    	.footer_zzq ul li a{color: #8f8f94;font-weight: normal;font-size: 12px;}
    	